button {
  background-color: #0048d9;
  color: #fff;
  align-self: flex-start;
  font-size: 16px;
  padding: 4px 16px;
  border: none;
  border-radius: 4px;
}

button:hover {
  background-color: #002266;
}

button:disabled {
  background-color: rgba(0, 72, 217, 0.49);
}
