.text-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 460px;
  height: 74px;
  margin-bottom: 20px;
}

.text-input input {
  color: #3b4256;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 460px;
  height: 48px;
  padding: 12px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.01em;
  background-color: #f8fafc;
  border: 1px solid #f8fafc;
  border-radius: 4px;
}

.text-input input::placeholder {
  color: #b8bcca;
  font-family: "IBM Plex Sans", sans-serif;
}

.input:focus {
  outline: none !important;
  color: #3b4256;
  border: 1px solid #0048d9;
  padding: 12px;
  width: 460px;
  height: 48px;
}

.text-input label {
  color: #6f7482;
  font-size: 16px;
  height: 24px;
  left: 0px;
  top: 0px;
}

.error {
  color: #ed0131;
  font-size: 12px;
  line-height: 16px;
  margin: 2px 0;
}

.success {
  color: #0e6245;
  font-size: 12px;
  line-height: 16px;
  margin: 2px 0;
}
